@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
}
.header {
  background-color: grey;
  height: 6vh;
  line-height: 6vh;
  display: flex;
  align-items: center;
}
.header input {
  width: 40%;
  border-radius: 1vh;
  border: 1px solid rgb(163,164,168);
  background-color: grey;
  height: 3vh;
}
.circle_container {
  display: flex;
  padding-left: 1%;
  width: 29%;
  align-items: flex-start;
}
.small_circle {
  width: 2vh;
  height: 2vh;
  border-radius: 1rem;
  border: 1px solid rgb(163,164,168);
}
.content{
  width: 100%;
  height: 94vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.left_side {
  height:  94vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.black{
  background-color: black;
  color: white;
  font-size: 150%;
}
.purple{
  background-color: purple
}
.red {
  background-color: red;
   font-size: 150%;
}
.yellow{
  background-color: yellow;
  font-size: 150%;
}
.right_side{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.left h1{
  margin-bottom: 3vh;
  font-size: 130%
}
.left span {
  font-size: 130%
}
.left{
  display: flex;
  flex-direction: column;
}